@import "_nullstyle";

$GREEN: #2DB694;
$RED: #d60000f4;
$BG: linear-gradient(0deg, rgb(237, 255, 247) 0%, rgb(169, 200, 241) 70%);
$BG-INFO: linear-gradient(0deg, rgb(169, 200, 241) 30%, rgb(237, 255, 247) 100%);

@keyframes pulseTokenInput {
  0% {
    border: pxToEm(1px) solid #ff4d00;
  }
  50% {
    border: pxToEm(1px) solid #CCCCCC;
  }
  100% {
    border: pxToEm(1px) solid #ff4d00;
  }
}

@keyframes bellSwing {
  0%, 10% {
    transform-origin: top center;
    transform: rotate(-15deg);
  }
  10%, 20% {
    transform-origin: top center;
    transform: rotate(15deg);
  }
  20%, 30% {
    transform-origin: top center;
    transform: rotate(-15deg);
  }
  30%, 40% {
    transform-origin: top center;
    transform: rotate(15deg);
  }
  40%, 50% {
    transform-origin: top center;
    transform: rotate(0deg);
  }
  50%, 90% {
    transform-origin: top center;
    transform: rotate(0deg);
  }
  99%, 100% {
    transform-origin: top center;
    transform: rotate(-15deg);
  }
}

.profile {
  // position: relative;
  // border: 1px solid #000;
  display: flex;
  flex-direction: column;
  gap: pxToEm(60px);
  font-size: 0.8em;
  padding-top: pxToEm(20px);
  padding-bottom: pxToEm(20px);
  
  &__user-info {
  }

  &__user-preferences {
    padding: pxToEm(30px);
    border-radius: pxToEm(30px);
    background: $BG-INFO;
    // background: linear-gradient(0deg, rgba(192,219,255,1) 0%, rgba(255,221,253,1) 50%, rgba(255,232,196,1) 100%);
  }

  &__user-preference {
  }
}

.user-info {
  display: flex;
  background: $BG;
  // background: linear-gradient(0deg, rgb(217, 218, 255) 0%, rgb(211, 239, 233) 50%, rgba(255,255,255,1) 100%);
  border-radius: pxToEm(30px);
  padding: pxToEm(20px);

  &__avatar {
    margin-right: pxToEm(50px);
  }

  &__image-container {
    border-radius: 50%;
    padding: pxToEm(5px);
    border: pxToEm(3px) solid #ffffff;
  }

  &__image {
    user-select: none;
    width: pxToEm(300px);
    height: pxToEm(300px);
    border-radius: 50%;
  }

  &__text-info {
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: pxToEm(10px);
  }

  &__name {
    // font-weight: 100;
    line-height: 1.1em;
    color: #fff;
  }

  &__auth {
    font-size: 0.8em;
    padding: pxToEm(5px) pxToEm(8px);
    border-radius: pxToEm(5px);
    background: #fff;
    line-height: 1em;
  }

  &__auth-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.shitty-image {
  margin-right: pxToEm(-10px);
}

.vk {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-preference {
  font-size: 1.8em;
  display: flex;
  padding: pxToEm(10px);
  border-radius: pxToEm(5px);
  background: #fff;
  margin-bottom: pxToEm(10px);
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    flex: 0 0 50%;
    line-height: 1em;
    align-self: baseline;

    // &_underline {
    //   text-decoration: underline;
    //   text-decoration-color: #ff4d00;
    //   text-decoration-thickness: pxToEm(.1px);
    // }
  }

  &__value {
    flex: 0 0 50%;
    align-self: baseline;

    &_disabled {
      pointer-events: none;
    }
  }

  &__attendance-token-container {
    display: flex;
    gap: pxToEm(10px)
  }

  &__input {
    width: calc(100% - pxToEm(32px));
    flex-shrink: 1;
    border: pxToEm(.8px) solid #CCCCCC;
    height: pxToEm(30px);
    border-radius: 5px;
    padding: 10px;
    color: #333333;

    &:focus {
      // box-shadow: inset 0 0 pxToEm(1px) #000;
    }

    &_disabled {
      color: #757575;
    }

    &_notification {
      animation: pulseTokenInput 2.5s infinite;
      &:focus {
        animation: none;
      }
    }
  }

  &__button {
    cursor: pointer;
    flex-shrink: 0;
    user-select: none;
    width: pxToEm(30px) !important;
    height: pxToEm(30px);
    border-radius: 5px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 pxToEm(1px) black;
    transition: all .1s ease;

    &:active {
      box-shadow: 0 0 pxToEm(.1px) black;
    }
  }

  &__image {
    width: pxToEm(15px);
  }

  &__confirm-button {
    background: url('../icons/check-mark.svg') 50% 50% / 60% no-repeat, #2DB694;

    &:hover {
      background-color: #7fccb9;
    }
  }

  &__delete-button {
    background: url('../icons/cross-mark.svg') 50% 50% / 50% no-repeat, #d60000f4;

    &:hover {
      background-color: #ff8f8ff4;
    }
  }
}

.attendance-token__description-container {
  font-size: 1em;
  margin-top: pxToEm(4px);
}

.attendance-token__description {
  user-select: none;
  display: inline-block;
  cursor: pointer;
  color: #0b2376;
  font-weight: 300;
  font-size: 0.8em;
  transition: all .15s ease;
  padding: pxToEm(5px);
  border: pxToEm(.1px) solid #0b2376;
  border-radius: pxToEm(5px);

  &:hover {
    background: #0b2376;
    color: #fff;
  }
}

.profile-notifications {
  cursor: pointer;
  position: absolute;
  top: pxToEm(35px);
  right: pxToEm(20px);
  padding: pxToEm(10px);
  width: pxToEm(60px);
  height: pxToEm(60px);
  background: #fff;
  border-radius: 50%;
  transition: all .3s ease;

  &_true {
    border: pxToEm(1px) solid #ff4d00;
  }

  &:hover {
    // background: #000;
  }

  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__notification {
    z-index: 1000;
  }

  &__image {
    width: pxToEm(35px);
    animation: bellSwing 5s infinite;
  }
}

// background: #ff4d00;

.css-1dimb5e-singleValue {
  height: 100%;
  display: flex;
  align-items: center;
  color: #757575 !important;
}

.css-1fdsijx-ValueContainer {
  cursor: text;
}

.deauth-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: pxToEm(22px);
}

.deauth-button {
  user-select: none;
  width: 100%;
  height: 100%;
  padding: pxToEm(5px);
  cursor: pointer;
  gap: pxToEm(5px);
  background: #d60000f4;
  border-radius: pxToEm(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 50ms ease;

  &:active {
    width: 95%;
    height: 95%;
    font-size: 0.95em;
    .loader {
      border: pxToEm(1.5px) solid #fff; 
      border-top: pxToEm(1.5px) solid transparent; 
      border-radius: 50%; 
      animation: spin 1s linear infinite; 
    }
  }

  &:hover {
    background: #f23737f4;
  }

  &__image {
    width: pxToEm(12px);
  }

  &__text-container {
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    font-size: 0.5em;
    color: #fff;
    font-weight: 700;
    text-align: center;
  }
}

.loader {
  width: pxToEm(12px);
  height: pxToEm(12px);
}

.are-you-sure {
  font-size: min(4vmin, 2.5rem) ;
  position: fixed;
  z-index: 100000000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.804)000;
  display: flex;
  justify-content: center;
  align-items: center;

  &__body {
    width: pxToEm(220px);
    height: pxToEm(140px);
    padding: pxToEm(10px);
    background: #fff;
    border-radius: pxToEm(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: pxToEm(20px);
  }

  &__text {
    line-height: 1.1em;
    text-align: center;
    user-select: none;
  }

  &__buttons {
    display: flex;
    gap: pxToEm(30px)
  }

  &__button {
    font-weight: 300;
    font-size: 0.8em;
    width: pxToEm(80px);
    height: pxToEm(30px);
    border-radius: pxToEm(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: #fff;
    transition: all .2s ease;

    &_cancel {
      background: $GREEN;

      &:hover, :active {
        box-shadow: 0 0 pxToEm(2px) #000;
      }
    }

    &_confirm {
      background: $RED;
      
      &:hover, :active {
        box-shadow: 0 0 pxToEm(2px) #000;
      }
    }
  }
}

.images-carousel-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  background: rgba(0, 0, 0, 0.937)000;
  color: #8c8c8c;
  display: flex;
  flex-direction: column;

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 3em;
    transition: all .3s ease;

    &:hover {
      color: #fff;
    }
  }

  &__close {
    background: url('../icons/cross-mark.svg') center / 20% no-repeat;
    filter: brightness(0.7);
    width: pxToEm(50px);
    height: pxToEm(40px);
    margin-left: auto;

    &:hover {
      filter: brightness(1);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__current {
  }

  &__all {
  }
}

.carousel-current {
  width: 100%;
  height: 86%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: pxToEm(20px);

  &__prev {
    width: 10%;
    height: 100%;
  }

  &__image-container {
    width: 65%;
    max-width: pxToEm(2000px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_description {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100%;
        max-width: pxToEm(1355px);
        height: pxToEm(200px);
        background: #fff;
        border-top-right-radius: pxToEm(30px);
        border-top-left-radius: pxToEm(30px);
      }
    }
  }

  &__image-description {
    width: 100%;
    height: pxToEm(100px);
    display: flex;
    gap: pxToEm(20px);
    font-size: 2em;
    line-height: 1.2em;
    padding: pxToEm(10px) pxToEm(20px);
  }

  &__image-description-number {
    flex-shrink: 0;
    color: #000;
    display: flex;
    width: pxToEm(20px);
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: pxToEm(1.5px);
      height: pxToEm(25px);
      background: #0b2376;
      top: pxToEm(27px);
      right: pxToEm(-10px)
    }
  }

  &__image-description-text {
    font-size: 0.85em;
    display: flex;
    align-items: center;
    color: #000;
  }

  &__image {
    width: 100%;
    cursor: zoom-in;
    transition: all .3s ease;

    &_zoom-out {
      transform: scale(1.4);
      cursor: zoom-out;
    }
  }

  &__next {
    width: 10%;
    height: 100%;
  }
}

.carousel-all {
  display: flex;
  gap: pxToEm(20px);
  height: pxToEm(65px);

  &__image {
    cursor: pointer;
    transition: all .3s ease;
    border-radius: pxToEm(5px);
    border: pxToEm(2px) solid #5a5a5a;
    width: pxToEm(100px);
    opacity: 0.5;

    &:hover {
      opacity: 0.9;
    }

    &_active {
      border: pxToEm(5px) solid #e0e0e0;
      opacity: 1;
    }
  }
}

.carousel-transition-enter {
  opacity: 0;
}

.carousel-transition-enter-active {
  opacity: 1;
  transition: all .18s ease;
}

.carousel-transition-exit {
  opacity: 1;
}

.carousel-transition-exit-active {
  opacity: 0;
  transition: all .18s ease;
}

.modal-transition-enter {
  opacity: 0;
}

.modal-transition-enter-active {
  opacity: 1;
  transition: all .3s ease;
}

.modal-transition-exit {
  opacity: 1;
}

.modal-transition-exit-active {
  opacity: 0;
  transition: all .3s ease;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 1200px) {
  .profile {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 1000px) {
  .carousel-current {
    &__image-container {
      &::after {
        height: pxToEm(238px);
      }
    }

    &__image-description {
      font-size: 1.7em;
      height: pxToEm(140px);
    }

    &__image-description-number {
      &::after {
        top: pxToEm(48px)
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .profile {
    font-size: 0.6em;
  }

  .user-preference {
    &__button-mark {
      font-size: 1.2em;
    }

    &__input {
      height: pxToEm(40px);
      border-width: pxToEm(1.1px);
    }

    &__button {
      width: pxToEm(40px) !important;
      height: pxToEm(40px);
    }

    &__image {
      width: pxToEm(20px);
    }
  }

  .deauth-button-container {
    height: pxToEm(33px);
  }

  .deauth-button {
    &:active {
      width: 95%;
      height: 95%;
      font-size: 0.95em;
      .loader {
        border: pxToEm(1px) solid #fff; 
        border-top: pxToEm(1px) solid transparent; 
      }
    }

    &__image {
      width: pxToEm(17px);
    }

    &__text {
      font-size: 0.7em;
    }
  }

  .loader {
    width: pxToEm(17px);
    height: pxToEm(17px);
  }
}

@media screen and (max-width: 500px) {
  .profile {
    width: 95%;
  }

  .user-preference {
    flex-direction: column;
    align-items: flex-start;

    &__title {
      margin-bottom: pxToEm(10px);
    }
    
    &__value {
      width: 100%;
    }

    &__input {
      height: pxToEm(48px);
      border-width: pxToEm(1px);
    }

    &__button {
      width: pxToEm(48px) !important;
      height: pxToEm(48px);
    }
  }

  .user-info {
    flex-direction: column;
    text-align: center;
  
    &__avatar {
      margin-right: 0;
    }
  
    &__image-container {
      display: inline-block;
      margin-bottom: pxToEm(20px);
    }
  
    &__text-info {
      padding-bottom: 0;
    }
  }

  .attendance-token__description-container {
    font-size: 1.2em;
  }

  .attendance-token__description {
    &:hover {
      background: #fff;
      color: #0b2376;
    }
    &:active {
      background: #0b2376;
      color: #fff;
    }
  }
  
  .are-you-sure {
    font-size: 5vmin;
  }

  .images-carousel-modal {
    color: #8c8c8c;
  
    &__button {
      
      &:hover {
        color: #8c8c8c;
      }

      &:active {
        color: #fff;
      }
    }
  }


  .carousel-current {
    &__image-container {
      width: 70%;
  
      &::after {
        height: pxToEm(479px);
      }
    }

    &__image-description {
      font-size: 2em;
      height: pxToEm(240px);
      padding: pxToEm(10px) pxToEm(10px);
    }

    &__image-description-number {
      &::after {
        top: pxToEm(97px)
      }
    }

    &__image-description-text {
      font-size: 1em;
    }
  }
}
