.header {
  position: sticky;
  top: 0;
  width: 100%;
}
.header__week-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: pxToEm(100px);
  height: pxToEm(35px);
  background: #fff;
  padding: pxToEm(5px);
  text-transform: uppercase;
  border-radius: pxToEm(5px);
  -webkit-box-shadow: 0 0 pxToEm(5px) black;
          box-shadow: 0 0 pxToEm(5px) black;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__week-button:last-child {
  margin-right: 0;
}
.header__week-button:hover {
  background: #000;
  color: #fff;
}
.header__week-button:active {
  -webkit-box-shadow: 0 0 pxToEm(5px) #fff;
          box-shadow: 0 0 pxToEm(5px) #fff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}