@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Open+Sans:wght@300;700&family=Poppins:wght@100;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  overflow-y: scroll;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

::-webkit-scrollbar-track:hover {
  background: #ddd;
  border-radius: 6px;
}

.a {
  height: 0 !important;
  display: inline-block;
}

.fish {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-match-link {
  color: #0b2376;
  text-decoration: underline;
}
.no-match-link:active, .no-match-link :hover {
  text-decoration: none;
}

.container {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  position: relative;
  min-height: 100vh;
}

.under-header-box {
  height: 3.4375em;
}

.under-header-box-mobile {
  height: 0em;
}

.under-planning-thead-box {
  height: 3.125em;
}

.under-planning-thead-box-mobile {
  height: 0em;
}

@media screen and (max-width: 700px) {
  .container {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    font-size: 12px;
  }
  .under-header-box {
    height: 0em;
  }
  .under-header-box-mobile {
    height: 6.25em;
  }
  .under-planning-thead-box {
    height: 0;
  }
  .under-planning-thead-box-mobile {
    height: 2.1875em;
  }
}
.header-active {
  background: #fff !important;
  color: #0b2376 !important;
}
.header-active .nav__icon-container {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.header-hover {
  cursor: pointer;
}
.header-hover:hover {
  background: #fff;
  color: #0b2376;
}

.header {
  font-size: 0.75em;
  font-weight: 700;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  top: 0;
  width: 100%;
  background: #0b2376;
  z-index: 1000;
  border-bottom: 0.1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__week-buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.6875em;
  border-top: 0.1px solid #fff;
}
.header__week-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
  width: 15.28125em;
  line-height: 1.9em;
  text-align: center;
  border-right: 0.1px solid #fff;
  padding: 0.625em 0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 0.9em;
}
.header__week-button:first-child {
  border-left: 0.1px solid #fff;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.6875em !important;
}
.nav__item {
  height: 100%;
  color: #fff;
  width: 13.75em;
  border-right: 0.1px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nav__item_planning {
  width: 15.46875em !important;
}
.nav__item:first-child {
  border-left: 0.1px solid #fff;
}
.nav__item:hover .nav__icon-container {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.nav__icon-container {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0.25em #000;
          box-shadow: inset 0 0 0.25em #000;
}
.nav__icon {
  width: 1.5625em;
  margin-right: -0.03125em;
  margin-top: -0.00625em;
}

.nav__shitty-clock {
  width: 1.875em;
}

.nav__shitty-vk {
  margin-left: -0.125em;
}

@media screen and (max-width: 800px) {
  .header-hover {
    -webkit-transition: all 0 ease !important;
    transition: all 0 ease !important;
  }
  .header-hover:hover {
    background: #0b2376;
    color: #fff;
  }
  .header-hover:active {
    background: #fff;
    color: #0b2376;
  }
}
@media screen and (max-width: 500px) {
  .header {
    font-size: 0.7em;
    top: auto;
    bottom: 0;
    border-bottom: none;
  }
  .header__week-buttons {
    height: 5em;
  }
  .header__week-button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .nav {
    border-top: 0.1px solid #fff;
    border-bottom: none;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .nav__item_planning {
    width: 14.4375em !important;
  }
}
@media screen and (max-width: 350px) {
  .header {
    font-size: 0.65em;
  }
  .nav__item_planning {
    width: 13.4375em !important;
  }
}
@-webkit-keyframes show-message {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show-message {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulseClockRed {
  0% {
    background: rgba(214, 0, 0, 0.9568627451);
  }
  50% {
    background: rgba(255, 143, 143, 0.9568627451);
  }
  100% {
    background: rgba(214, 0, 0, 0.9568627451);
  }
}
@keyframes pulseClockRed {
  0% {
    background: rgba(214, 0, 0, 0.9568627451);
  }
  50% {
    background: rgba(255, 143, 143, 0.9568627451);
  }
  100% {
    background: rgba(214, 0, 0, 0.9568627451);
  }
}
@-webkit-keyframes pulseClockGreen {
  0% {
    background: #2DB694;
  }
  50% {
    background: #7fccb9;
  }
  100% {
    background: #2DB694;
  }
}
@keyframes pulseClockGreen {
  0% {
    background: #2DB694;
  }
  50% {
    background: #7fccb9;
  }
  100% {
    background: #2DB694;
  }
}
.disabled-font {
  color: #828282 !important;
}

.disabled-bg {
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: #e4e4e4 !important;
}

.pulse-clock-red {
  -webkit-animation: pulseClockRed 3.5s infinite;
          animation: pulseClockRed 3.5s infinite;
}

.pulse-clock-green {
  -webkit-animation: pulseClockGreen 3.5s infinite;
          animation: pulseClockGreen 3.5s infinite;
}

.no-schedule {
  width: 95%;
  margin: 0 auto;
  min-height: 95vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.no-schedule__text {
  text-align: center;
  font-size: 3em;
  color: #828282;
  line-height: 1.2em;
}

.schedule {
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0 1.25em 0;
}
.schedule-info-container {
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 4.375em;
  margin-bottom: 0.9375em;
}

.schedule-info {
  border: 1px solid rgba(0, 0, 0, 0.2901960784);
  border-radius: 0.9375em;
  text-align: center;
  padding: 0.3125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.schedule-info__item:first-child {
  margin-right: 0.625em;
}
.schedule-info__group {
  margin-right: 0.3125em;
}
.schedule-info__date {
  -moz-text-align-last: left;
       text-align-last: left;
  width: 14.375em;
}
.day {
  margin-bottom: 1.25em;
  padding: 0.625em;
  border-radius: 0.625em;
  -webkit-box-shadow: 0 0.125em 0.625em rgb(79, 71, 91);
          box-shadow: 0 0.125em 0.625em rgb(79, 71, 91);
}
.day:last-child {
  margin-bottom: 0;
}
.day__date {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.2em;
  padding: 0.3125em;
  border-radius: 0.3125em;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.2901960784);
}
.day__schedule-string {
  margin-top: 0.3125em;
  font-size: 0.8em;
  font-weight: 300;
}
.day__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.25em;
}
.day__empty-text {
  font-size: 3em;
  color: #828282;
}

.lesson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625em;
  margin-bottom: 0.5em;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.2901960784);
  padding-bottom: 0.5em;
}
.lesson:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.lesson:last-child::after {
  height: 0;
}
.lesson:last-child .lesson__info {
  padding-bottom: 0;
}
.lesson__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0.625em;
  padding: 0.5em 1.25em 0em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lesson__time {
  width: 5em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
}
.lesson__start {
  margin-bottom: 0.3125em;
  font-weight: 700;
  color: #0b2376;
}
.lesson__end {
  font-size: 0.9em;
}
.lesson__name {
  font-weight: 700;
  margin-bottom: 0.3125em;
}
.lesson__teacher {
  margin-bottom: 0.3125em;
}
.lesson__teacher:last-child {
  margin-bottom: 0;
}
.lesson__type-room {
  margin-left: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.lesson-type-room {
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 1em;
}
.lesson-type-room__type {
  text-align: center;
  margin-top: -0.3125em;
  margin-left: 0.9375em;
  margin-bottom: 0.625em;
  background: #0b2376;
  color: #fff;
  border-radius: 0.3125em;
  width: 2.8125em;
  height: 1.5625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lesson-type-room__room {
  margin-bottom: 0.625em;
  margin-left: 0.9375em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lesson-type-room__room:last-child {
  margin-bottom: 0;
}
.lesson-type-room__image {
  width: 0.9375em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.lesson-type-room__text {
  text-align: right;
  margin-left: 0.125em;
}

.attendance {
  width: 4.375em;
}
.attendance__container {
  width: 4.375em;
  height: 4.375em;
  position: relative;
}
.attendance__pseudo-body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.attendance__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0.625em;
  -webkit-box-shadow: 0 0 0.4375em black;
          box-shadow: 0 0 0.4375em black;
  -webkit-transition: width 0.05s ease, height 0.05s ease;
  transition: width 0.05s ease, height 0.05s ease;
}
.attendance__body:hover {
  -webkit-box-shadow: 0 0 0.25em black;
          box-shadow: 0 0 0.25em black;
}
.attendance__body:active {
  width: 80%;
  height: 80%;
}
.attendance__body:active .attendance-icon__image {
  width: 80%;
}
.attendance__body_red {
  background: rgba(214, 0, 0, 0.9568627451);
}
.attendance__body_red:hover, .attendance__body_red:active {
  background: rgba(243, 81, 81, 0.9568627451);
}
.attendance__body_green {
  background: #2DB694;
}
.attendance__body_green:hover, .attendance__body_green:active {
  background: #7fccb9;
}
.attendance__message {
  cursor: pointer;
  font-size: 0.8em;
  position: absolute;
  top: -1.5625em;
  left: -8.75em;
  padding: 0.4375em;
  border-radius: 0.3125em;
  background: #ff4d00;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: show-message 4s forwards;
          animation: show-message 4s forwards;
  pointer-events: auto;
  line-height: 1em;
}
.attendance__message:hover {
  background: rgba(255, 77, 0, 0.6666666667);
}
.attendance-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.attendance-icon__image {
  -webkit-transition: width 0.05s ease, height 0.05s ease;
  transition: width 0.05s ease, height 0.05s ease;
  width: 3.125em;
  -webkit-box-shadow: inset 0 0 0.3125em black;
          box-shadow: inset 0 0 0.3125em black;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  .schedule {
    width: calc(100% - 80px);
  }
  .schedule-info-container {
    width: calc(100% - 80px);
  }
}
@media screen and (max-width: 700px) {
  .lesson__time {
    width: 3.75em;
  }
  .no-schedule {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 500px) {
  .schedule {
    width: 95%;
  }
  .schedule-info-container {
    font-size: 0.95em;
    padding-top: 0em;
    width: 95%;
    margin-top: 0.9375em;
  }
  .schedule-info {
    font-size: 0.95em;
  }
  .attendance__body:hover {
    -webkit-box-shadow: 0 0 0.4375em black;
            box-shadow: 0 0 0.4375em black;
  }
  .attendance__body_red:hover {
    background: rgba(214, 0, 0, 0.9568627451);
  }
  .attendance__body_green:hover {
    background: #2DB694;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.75em;
  font-size: 0.8em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.profile__user-preferences {
  padding: 1.875em;
  border-radius: 1.875em;
  background: rgb(146, 173, 255);
}
.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgb(146, 173, 255);
  border-radius: 1.875em;
  padding: 1.25em;
}
.user-info__avatar {
  margin-right: 3.125em;
}
.user-info__image-container {
  border-radius: 50%;
  padding: 0.3125em;
  border: 0.1875em solid #ffffff;
}
.user-info__image {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 18.75em;
  height: 18.75em;
  border-radius: 50%;
}
.user-info__text-info {
  font-size: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625em;
}
.user-info__name {
  line-height: 1.1em;
  color: #fff;
}
.user-info__auth {
  font-size: 0.8em;
  padding: 0.3125em 0.5em;
  border-radius: 0.3125em;
  background: #fff;
  line-height: 1em;
}
.user-info__auth-text {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.shitty-image {
  margin-right: -0.625em;
}

.vk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-preference {
  font-size: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625em;
  border-radius: 0.3125em;
  background: #fff;
  margin-bottom: 0.625em;
}
.user-preference:last-child {
  margin-bottom: 0;
}
.user-preference__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  line-height: 1em;
}
.user-preference__value {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.user-preference__access-token-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625em;
}
.user-preference__input {
  width: calc(100% - 2em);
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border: 0.05em solid #CCCCCC;
  height: 1.875em;
  border-radius: 5px;
  padding: 10px;
  color: #333333;
}
.user-preference__button {
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 1.875em !important;
  height: 1.875em;
  border-radius: 5px;
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 0.0625em black;
          box-shadow: 0 0 0.0625em black;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.user-preference__button:active {
  -webkit-box-shadow: 0 0 0.00625em black;
          box-shadow: 0 0 0.00625em black;
}
.user-preference__image {
  width: 0.9375em;
}
.user-preference__confirm-button {
  background: #2DB694;
}
.user-preference__confirm-button:hover {
  background: #7fccb9;
}
.user-preference__delete-button {
  background: rgba(214, 0, 0, 0.9568627451);
}
.user-preference__delete-button:hover {
  background: rgba(255, 143, 143, 0.9568627451);
}

.css-1dimb5e-singleValue {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.css-1dimb5e-singleValue {
  color: #757575 !important;
}

.deauth-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.375em;
}

.deauth-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  height: 100%;
  padding: 0.3125em;
  cursor: pointer;
  gap: 0.3125em;
  background: rgba(214, 0, 0, 0.9568627451);
  border-radius: 0.3125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}
.deauth-button:active {
  width: 95%;
  height: 95%;
  font-size: 0.95em;
}
.deauth-button:active .loader {
  border: 0.09375em solid #fff;
  border-top: 0.09375em solid transparent;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}
.deauth-button:hover {
  background: rgba(242, 55, 55, 0.9568627451);
}
.deauth-button__image {
  width: 0.75em;
}
.deauth-button__text-container {
  margin-left: auto;
  margin-right: auto;
}
.deauth-button__text {
  font-size: 0.5em;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.loader {
  width: 0.75em;
  height: 0.75em;
}

.are-you-sure {
  position: fixed;
  z-index: 100000000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.804) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.are-you-sure__body {
  width: 12.5em;
  height: 7.5em;
  padding: 1.875em;
  background: #fff;
  border-radius: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25em;
}
.are-you-sure__text {
  line-height: 1.1em;
  text-align: center;
}
.are-you-sure__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875em;
}
.are-you-sure__button {
  font-weight: 300;
  font-size: 0.8em;
  width: 5em;
  height: 1.875em;
  border-radius: 0.1875em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.are-you-sure__button_cancel {
  background: #2DB694;
}
.are-you-sure__button_cancel:hover, .are-you-sure__button_cancel :active {
  -webkit-box-shadow: 0 0 0.125em #000;
          box-shadow: 0 0 0.125em #000;
}
.are-you-sure__button_confirm {
  background: rgba(214, 0, 0, 0.9568627451);
}
.are-you-sure__button_confirm:hover, .are-you-sure__button_confirm :active {
  -webkit-box-shadow: 0 0 0.125em #000;
          box-shadow: 0 0 0.125em #000;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media screen and (max-width: 1200px) {
  .profile {
    width: calc(100% - 80px);
  }
}
@media screen and (max-width: 700px) {
  .profile {
    font-size: 0.6em;
  }
  .user-preference__button-mark {
    font-size: 1.2em;
  }
  .user-preference__input {
    height: 2.5em;
    border-width: 0.06875em;
  }
  .user-preference__button {
    width: 2.5em !important;
    height: 2.5em;
  }
  .user-preference__image {
    width: 1.25em;
  }
  .deauth-button-container {
    height: 2.0625em;
  }
  .deauth-button:active {
    width: 95%;
    height: 95%;
    font-size: 0.95em;
  }
  .deauth-button:active .loader {
    border: 0.0625em solid #fff;
    border-top: 0.0625em solid transparent;
  }
  .deauth-button__image {
    width: 1.0625em;
  }
  .deauth-button__text {
    font-size: 0.7em;
  }
  .loader {
    width: 1.0625em;
    height: 1.0625em;
  }
}
@media screen and (max-width: 500px) {
  .profile {
    width: 95%;
  }
  .user-preference {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .user-preference__title {
    margin-bottom: 0.625em;
  }
  .user-preference__value {
    width: 100%;
  }
  .user-preference__input {
    height: 3em;
    border-width: 0.0625em;
  }
  .user-preference__button {
    width: 3em !important;
    height: 3em;
  }
  .user-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .user-info__avatar {
    margin-right: 0;
  }
  .user-info__image-container {
    display: inline-block;
    margin-bottom: 1.25em;
  }
  .user-info__text-info {
    padding-bottom: 0;
  }
  .are-you-sure {
    font-size: 1.2em;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.planning-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.1px solid #fff;
  height: 3.5em !important;
  background: #0b2376;
}

.planning-thead {
  z-index: 998;
  background: rgba(11, 34, 118, 0.6039215686);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  top: 6.25em;
  height: 3.125em;
  color: #0b2376;
  font-size: 1.1em;
}
.planning-thead__body {
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 3.125em;
  font-weight: 700;
  color: #fff;
}
.planning-thead__lesson {
  padding-left: 5em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.planning-thead__attendance {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.planning-all-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.planning-all-mark__container {
  margin-top: 0.625em;
}
.planning-all-mark__button {
  cursor: pointer;
  border-radius: 1.25em;
  color: #fff;
  padding: 0.625em 0.9375em;
  font-weight: 300;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.planning-all-mark__button_green {
  background: #2DB694;
}
.planning-all-mark__button_green:hover {
  background: #7fccb9;
}
.planning-all-mark__button_red {
  background: rgba(214, 0, 0, 0.9568627451);
  margin-right: 0.625em;
}
.planning-all-mark__button_red:hover {
  background: rgba(237, 106, 106, 0.9568627451);
}

.auto-planning {
  min-height: 100%;
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.375em;
  height: 100%;
}
.switch__body-false {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
  width: 3.75em;
  height: 1.875em;
  background: -webkit-gradient(linear, left top, right top, from(rgb(205, 40, 40)), color-stop(47%, rgb(219, 64, 64)), to(rgb(162, 0, 0)));
  background: linear-gradient(90deg, rgb(205, 40, 40) 0%, rgb(219, 64, 64) 47%, rgb(162, 0, 0) 100%);
  border: 0.125em solid #e4e4e4;
  border-radius: 1.25em;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch__circle-false {
  z-index: 1;
  position: absolute;
  top: 0;
  left: -1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 1.875em;
  height: 1.875em;
  background: radial-gradient(circle, rgb(255, 255, 255) 43%, rgb(199, 199, 199) 100%);
  border-radius: 50%;
}
.switch__body-true {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
  width: 3.75em;
  height: 1.875em;
  border: 0.125em solid #e4e4e4;
  border-radius: 1.25em;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: -webkit-gradient(linear, left top, right top, from(rgb(68, 102, 93)), color-stop(64%, rgb(45, 182, 148)), to(rgb(33, 133, 108))) !important;
  background: linear-gradient(90deg, rgb(68, 102, 93) 0%, rgb(45, 182, 148) 64%, rgb(33, 133, 108) 100%) !important;
}
.switch__circle-true {
  z-index: 1;
  position: absolute;
  width: 1.875em;
  height: 1.875em;
  background: radial-gradient(circle, rgb(255, 255, 255) 43%, rgb(199, 199, 199) 100%) !important;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  right: -1px !important;
  left: auto !important;
}

@media screen and (max-width: 1000px) {
  .planning-thead__body {
    width: calc(100% - 80px);
  }
}
@media screen and (max-width: 500px) {
  .planning-header {
    top: auto !important;
    bottom: 2.8125em !important;
  }
  .planning-thead {
    top: auto !important;
    bottom: 5.625em;
    height: 2.5em;
  }
  .planning-thead__body {
    width: 95%;
  }
  .planning-thead__lesson {
    padding-left: 3.75em;
  }
  .planning-all-mark__button_green:hover {
    background: #2DB694;
  }
  .planning-all-mark__button_green:active {
    background: #7fccb9;
  }
  .planning-all-mark__button_red:hover {
    background: rgba(214, 0, 0, 0.9568627451);
  }
  .planning-all-mark__button_red:active {
    background: rgba(237, 106, 106, 0.9568627451);
  }
}