@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Poppins:wght@100;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  overflow-y: scroll;
  font-family: "Poppins", sans-serif;
}

.container {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  position: relative;
}

.under-header-box {
  height: 2.8125em;
}

@media screen and (max-width: 500px) {
  .under-header-box {
    height: 2.0625em;
  }
}
.header-hover {
  cursor: pointer;
}
.header-hover:hover {
  background: #fff;
  color: #0b2376;
}

.header {
  font-size: 0.9em;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  background: #0b2376;
  z-index: 1000;
  border-bottom: 0.1px solid #fff;
  text-transform: uppercase;
  color: #fff;
}
.header__week-buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3.125em;
}
.header__week-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 13.75em;
  line-height: 1.9em;
  text-align: center;
  border-right: 0.1px solid #fff;
  padding: 0.625em 0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__week-button:first-child {
  border-left: 0.1px solid #fff;
}
.header-time {
  text-transform: none;
  position: absolute;
  top: 0.3125em;
  right: 0;
  width: 6.875em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.1px solid #fff;
  height: 3.125em;
}
.nav__item {
  width: 13.75em;
  border-right: 0.1px solid #fff;
  padding: 0.625em 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375em;
}
.nav__item:first-child {
  border-left: 0.1px solid #fff;
}
.nav__item:hover .nav__icon-container {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.nav__icon-container {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0.25em #000;
          box-shadow: inset 0 0 0.25em #000;
}
.nav__icon {
  width: 1.5625em;
  margin-right: -0.03125em;
  margin-top: -0.00625em;
}

.nav__shitty-clock {
  width: 1.875em;
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 0.7em;
  }
  .header-hover {
    -webkit-transition: all 0 ease !important;
    transition: all 0 ease !important;
  }
  .header-hover:hover {
    background: #0b2376;
    color: #fff;
  }
  .header-hover:active {
    background: #fff;
    color: #0b2376;
  }
  .nav__item:first-child {
    border-left: none;
  }
  .nav__item:last-child {
    border-right: none;
  }
}
@-webkit-keyframes show-message {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show-message {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulseClockRed {
  0% {
    background: rgba(214, 0, 0, 0.9568627451);
  }
  50% {
    background: rgba(255, 143, 143, 0.9568627451);
  }
  100% {
    background: rgba(214, 0, 0, 0.9568627451);
  }
}
@keyframes pulseClockRed {
  0% {
    background: rgba(214, 0, 0, 0.9568627451);
  }
  50% {
    background: rgba(255, 143, 143, 0.9568627451);
  }
  100% {
    background: rgba(214, 0, 0, 0.9568627451);
  }
}
@-webkit-keyframes pulseClockGreen {
  0% {
    background: #2DB694;
  }
  50% {
    background: #7fccb9;
  }
  100% {
    background: #2DB694;
  }
}
@keyframes pulseClockGreen {
  0% {
    background: #2DB694;
  }
  50% {
    background: #7fccb9;
  }
  100% {
    background: #2DB694;
  }
}
.disabled-font {
  color: #828282 !important;
}

.disabled-bg {
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: #e4e4e4 !important;
}

.pulse-clock-red {
  -webkit-animation: pulseClockRed 3.5s infinite;
          animation: pulseClockRed 3.5s infinite;
}

.pulse-clock-green {
  -webkit-animation: pulseClockGreen 3.5s infinite;
          animation: pulseClockGreen 3.5s infinite;
}

.schedule {
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 3.75em 0 1.25em 0;
}
.schedule-info {
  margin-bottom: 0.9375em;
  border: 1px solid rgba(0, 0, 0, 0.2901960784);
  border-radius: 0.9375em;
  text-align: center;
  padding: 0.3125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625em;
}
.schedule-info__group {
  margin-right: 0.3125em;
}
.schedule-info__date {
  -moz-text-align-last: left;
       text-align-last: left;
  width: 13.125em;
}
.day {
  margin-bottom: 1.25em;
  padding: 0.625em;
  border-radius: 0.625em;
  -webkit-box-shadow: 0 0.125em 0.625em rgb(79, 71, 91);
          box-shadow: 0 0.125em 0.625em rgb(79, 71, 91);
}
.day:last-child {
  margin-bottom: 0;
}
.day__date {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.2em;
  padding: 0.3125em;
  border-radius: 0.3125em;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.2901960784);
}
.day__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.25em;
}
.day__empty-text {
  font-size: 3em;
  color: #828282;
}

.lesson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625em;
  margin-bottom: 0.5em;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.2901960784);
  padding-bottom: 0.5em;
}
.lesson:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.lesson:last-child::after {
  height: 0;
}
.lesson:last-child .lesson__info {
  padding-bottom: 0;
}
.lesson__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0.625em;
  padding: 0.5em 1.25em 0em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lesson__time {
  width: 5em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
}
.lesson__start {
  margin-bottom: 0.3125em;
  font-weight: 700;
  color: #0b2376;
}
.lesson__end {
  font-size: 0.9em;
}
.lesson__name {
  font-weight: 700;
  margin-bottom: 0.3125em;
}
.lesson__teacher:nth-child(2) {
  margin-top: 0.3125em;
}
.lesson__type-room {
  margin-left: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.lesson-type-room {
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 1em;
}
.lesson-type-room__type {
  text-align: center;
  padding: 0.3125em;
  margin-top: -0.3125em;
  margin-left: 0.9375em;
  background: #0b2376;
  color: #fff;
  border-radius: 0.3125em;
  margin-bottom: 0.625em;
  width: 2.5em;
  height: 1.5625em;
}
.lesson-type-room__room {
  text-align: right;
  margin-top: auto;
  margin-bottom: 0.375em;
  margin-left: 0.9375em;
}
.lesson-type-room__image {
  width: 0.9375em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.attendance {
  width: 4.375em;
}
.attendance__container {
  width: 4.375em;
  height: 4.375em;
  position: relative;
}
.attendance__pseudo-body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.attendance__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0.625em;
  -webkit-box-shadow: 0 0 0.4375em black;
          box-shadow: 0 0 0.4375em black;
  -webkit-transition: width 0.05s ease, height 0.05s ease;
  transition: width 0.05s ease, height 0.05s ease;
}
.attendance__body:hover {
  -webkit-box-shadow: 0 0 0.25em black;
          box-shadow: 0 0 0.25em black;
}
.attendance__body:active {
  width: 80%;
  height: 80%;
}
.attendance__body:active .attendance-icon__image {
  width: 80%;
}
.attendance__body_red {
  background: rgba(214, 0, 0, 0.9568627451);
}
.attendance__body_red:hover, .attendance__body_red:active {
  background: rgba(243, 81, 81, 0.9568627451);
}
.attendance__body_green {
  background: #2DB694;
}
.attendance__body_green:hover, .attendance__body_green:active {
  background: #7fccb9;
}
.attendance__message {
  cursor: pointer;
  font-size: 0.8em;
  position: absolute;
  top: -1.5625em;
  left: -6.875em;
  padding: 0.4375em;
  border-radius: 0.3125em;
  background: #ff4d00;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: show-message 4s forwards;
          animation: show-message 4s forwards;
  pointer-events: auto;
  line-height: 1em;
}
.attendance__message:hover {
  background: rgba(255, 77, 0, 0.6666666667);
}
.attendance-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.attendance-icon__image {
  -webkit-transition: width 0.05s ease, height 0.05s ease;
  transition: width 0.05s ease, height 0.05s ease;
  width: 3.125em;
  -webkit-box-shadow: inset 0 0 0.3125em black;
          box-shadow: inset 0 0 0.3125em black;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  .schedule {
    width: calc(100% - 80px);
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  .container {
    font-size: 14px;
  }
  .lesson__time {
    width: 3.75em;
  }
}
@media screen and (max-width: 500px) {
  .container {
    font-size: 12px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .schedule {
    width: 95%;
    padding-top: 3.125em;
  }
  .schedule-info {
    font-size: 0.95em;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.groups {
  font-size: 1.2em;
}
.groups__loading {
  display: block;
  padding-top: 2.125em;
}
.groups__input-container {
  position: fixed;
  width: 100%;
}
.groups__items {
  padding-top: 2.125em;
}
.groups__item {
  padding: 0.3125em;
  border-bottom: 0.1px solid #828282;
  cursor: pointer;
  -webkit-transition: all 0.18s ease;
  transition: all 0.18s ease;
}
.groups__item:hover {
  -webkit-box-shadow: inset 0 0 0.3125em #828282;
          box-shadow: inset 0 0 0.3125em #828282;
}

.groups-input {
  position: relative;
  border-bottom: 2px solid #828282;
}
.groups-input__input {
  padding: 0.3125em;
  width: 100%;
}
.groups-input__icon {
  position: absolute;
  top: 0.21875em;
  left: 0.3125em;
  width: 1.5625em;
}