@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Poppins:wght@100;400&display=swap');

// font-family: 'Poppins', sans-serif;

body {
  overflow-y: scroll;
  font-family: 'Poppins', sans-serif;
}
 
.container {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  position: relative;
}

.under-header-box {
  height: pxToEm(50px);
}

.under-header-box-mobile {
  height: pxToEm(0px);
}

@media screen and (max-width: 700px) {
  .container {
    font-size: 14px;
  }
}


@media screen and (max-width: 500px) {
  .container {
    font-size: 12px;
    user-select: none;
  }
  .under-header-box {
    height: pxToEm(15px);
  }
  .under-header-box-mobile {
    height: pxToEm(80px);
  }
}