@import "_nullstyle";

$BORDER-COLOR: #828282;

.groups {
  font-size: 1.2em;

  &__loading {
    display: block;
    padding-top: pxToEm(25px);
    &_header {
      padding-top: pxToEm(70px);
    }
  }

  &__input-container {
    position: fixed;
    width: 100%;
    &_header {
      top: pxToEm(45px);
    }
  }

  &__input {  
  }

  &__checkbox-container {
    background: #fff;
  }

  &__items {
    padding-top: pxToEm(25px);
    &_header {
      padding-top: pxToEm(70px);
    }
  }

  &__item {
    padding: pxToEm(5px);
    border-bottom: .1px solid $BORDER-COLOR;
    cursor: pointer;
    transition: all .18s ease;

    &:hover {
      box-shadow: inset 0 0 pxToEm(5px) $BORDER-COLOR;
    }
  }

  &__checkbox {
    margin-left: pxToEm(10px);
    width: pxToEm(15px);
    height: pxToEm(15px);
  }

  &__checkbox-description {
    font-size: 1.2em;
    display: inline-block;
    margin-bottom: pxToEm(2px);
    user-select: none;
  }

  &__under-checkbox-box {
    width: 100%;
    height: pxToEm(17px);
  }
}


.groups-input {
  position: relative;
  border-bottom: 2px solid $BORDER-COLOR;
  font-size: 0.8em;

  &__input {
    padding: pxToEm(5px);
    width: 100%;
    font-size: 1.2em;
  }

  &__icon {
    position: absolute;
    top: pxToEm(3.5px);
    left: pxToEm(7px);
    width: pxToEm(25px);
  }
}

@-moz-document url-prefix() {
  .groups-input {
    &__input {
      padding: pxToEm(2px);
    }
  }
}

@media screen and (max-width: 500px) {
  .groups {
    font-size: 2em;

    &__input-container {
      &_header {
        top: 0;
      }
    }

    &__loading {
      padding-top: pxToEm(26px);
      &_header {
        padding-top: pxToEm(26px);
      }
    }

    &__items {
      padding-top: pxToEm(26px);
      &_header {
        padding-top: pxToEm(26px);
      }
    }

    &__checkbox-description {
      margin-bottom: pxToEm(4px);
    }
  }
  .groups-input {
    position: relative;
    border-bottom: 2px solid $BORDER-COLOR;
    font-size: 0.8em;
  
    &__input {
      font-size: 1.1em;
      padding: pxToEm(3px) pxToEm(5px);
      width: 100%;
    }
  
    &__icon {
      position: absolute;
      top: pxToEm(2px);
      left: pxToEm(8px);
      width: pxToEm(24px);
    }
  }
}