@import "_nullstyle";

$BORDER-COLOR: #828282;

.groups {
  font-size: 1.2em;

  &__loading {
    display: block;
    padding-top: pxToEm(25px);
  }

  &__input-container {
    position: fixed;
    width: 100%;
    // top: pxToEm(45px);
  }

  &__input {  
  }

  &__items {
    // padding-top: pxToEm(70px);
    padding-top: pxToEm(25px);
  }

  &__item {
    padding: pxToEm(5px);
    border-bottom: .1px solid $BORDER-COLOR;
    cursor: pointer;
    transition: all .18s ease;

    &:hover {
      box-shadow: inset 0 0 pxToEm(5px) $BORDER-COLOR;
    }

  }
}

.groups-input {
  position: relative;
  border-bottom: 2px solid $BORDER-COLOR;
  font-size: 0.8em;

  &__input {
    padding: pxToEm(5px);
    width: 100%;
    font-size: 1.2em;
  }

  &__icon {
    position: absolute;
    top: pxToEm(3.5px);
    left: pxToEm(7px);
    width: pxToEm(25px);
  }
}

@media screen and (max-width: 500px) {
  .groups {
    font-size: 2em;

    &__loading {
      padding-top: pxToEm(30px);
    }

    &__items {
      padding-top: pxToEm(22px);
    }
  }
  .groups-input {
    position: relative;
    border-bottom: 2px solid $BORDER-COLOR;
    font-size: 0.8em;
  
    &__input {
      font-size: 1.1em;
      padding: pxToEm(3px) pxToEm(5px);
      width: 100%;
    }
  
    &__icon {
      position: absolute;
      top: pxToEm(2px);
      left: pxToEm(8px);
      width: pxToEm(24px);
    }
  }
}