$BORDER-COLOR: #fff;

.header-hover {
  cursor: pointer;
  &:hover {
    background: #fff;
    color: #0b2376;
  }
}

.header {
  font-size: 0.85 em;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  background: #0b2376;
  z-index: 1000;
  border-bottom: .1px solid $BORDER-COLOR;
  text-transform: uppercase;
  color: #fff;

  &__nav {
  }

  &__week-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    height: pxToEm(50px);
  }

  &__week-button {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    height: 100%;
    width: pxToEm(220px, );
    line-height: 1.9em;
    text-align: center;
    border-right: .1px solid $BORDER-COLOR;
    padding: pxToEm(10px) 0;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:first-child {
      border-left: .1px solid $BORDER-COLOR;
    }

  }

  &__time {
  }
}

.header-time {
  text-transform: none ;
  position: absolute;
  top: pxToEm(5px);
  right: 0;
  width: pxToEm(110px);
  user-select: none;
  cursor: default;

  &__text {

  }
}

.nav {
  display: flex;
  justify-content: center;
  border-bottom: .1px solid $BORDER-COLOR;
  height: pxToEm(50px);
  
  &__item {
    width: pxToEm(220px);
    border-right: .1px solid $BORDER-COLOR;
    padding: pxToEm(10px) 0;
    transition: all .3s ease;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: pxToEm(15px);

    &:first-child {
      border-left: .1px solid $BORDER-COLOR;
    }

    &:hover {
      .nav__icon-container {
        box-shadow: none;
      }
    }

  }

  &__text {
  }

  &__icon-container {
    width: pxToEm(40px);
    height: pxToEm(40px);
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 pxToEm(4px) #000;
  }

  &__icon {
    width: pxToEm(25px);
    margin-right: pxToEm(-0.5px);
    margin-top: pxToEm(-0.1px);
  }
}

.nav__shitty-clock {
  width: pxToEm(30px);
}

@media screen and (max-width: 800px) {
  .header-hover {
    transition: all 0 ease !important;
    &:hover {
      background: #0b2376;
      color: #fff;
    }
    &:active {
      background: #fff;
      color: #0b2376;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 0.7em;
    &__week-buttons {
      height: pxToEm(70px);
    }
    &__week-button {
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  .nav {
    height: pxToEm(70px);
    &__item {
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .header {
    font-size: 0.65em;
  }
}
