@import "_nullstyle";

body {
  // padding: 100px;
}

.planning-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: pxToEm(56px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: .1px solid #fff;
  height: pxToEm(56px) !important;
  background: #0b2376;
}

.planning-thead {
  z-index: 998;
  background: #0b22769a;
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  top: pxToEm(100px);
  height: pxToEm(50px);
  color: #0b2376;
  font-size: 1.1em;

  &__body {
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    // gap: pxToEm(50px);
    font-weight: 700;
    color: #fff;
  }

  &__lesson {
    padding-left: pxToEm(80px);
    flex: 1;
  }

  &__attendance {
    flex: 1;
    text-align: right;
  }
}

.planning-all-mark {
  display: flex;
  justify-content: center;

  &__container {
    margin-top: pxToEm(10px);
  }

  &__button {
    cursor: pointer;
    border-radius: pxToEm(20px);
    color: #fff;
    padding: pxToEm(10px) pxToEm(15px);
    font-weight: 300;
    transition: all .3s ease;
    user-select: none;

    &_green {
      background: #2DB694;
      
      &:hover {
        background: #7fccb9;
      }
    }

    &_red {
      background: #d60000f4;
      margin-right: pxToEm(10px);

      &:hover {
        background: #ed6a6af4;
      }
    }
  }
}

.auto-planning {
  min-height: 100%;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: pxToEm(70px);
  height: 100%;

  &__body {
    box-sizing: content-box;
    cursor: pointer;
    width: pxToEm(60px);
    height: pxToEm(30px);
    border: pxToEm(2px) solid #e4e4e4;
    border-radius: pxToEm(20px);
    position: relative;
    background: linear-gradient(90deg, rgba(68,102,93,1) 0%, rgba(45,182,148,1) 64%, rgba(33,133,108,1) 100%);
}

  &__circle {
    z-index: 1;
    position: absolute;
    width: pxToEm(30px);
    height: pxToEm(30px);
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,1) 43%, rgba(199,199,199,1) 100%);
    transform: translateX(102%);
    transition: all .15s ease;
  }
}

.switch__body_false {
  background: linear-gradient(90deg, rgba(205,40,40,1) 0%, rgba(219,64,64,1) 47%, rgba(162,0,0,1) 100%);

  .switch__circle {
    transform: translateX(-2%);
  }
}


@media screen and (max-width: 1000px) {
  .planning-thead {
    &__body {
      width: calc(100% - 80px);
    }
  }
}

@media screen and (max-width: 500px) {
  .planning-header {
    // height: pxToEm(50px) !important;
    top: auto !important;
    bottom: pxToEm(45px) !important;
  }
  .planning-thead {
    top: auto !important;
    bottom: pxToEm(90px);
    height: pxToEm(40px);

    &__body {
      width: 95%;
    }

    &__lesson {
      padding-left: pxToEm(60px);
    }
  }

  .planning-all-mark {
    &__button {
      &_green {
        &:hover {
          background: #2DB694;
        }
        &:active {
          background: #7fccb9;
        }
      }
  
      &_red {
        &:hover {
          background: #d60000f4;
        }
        &:active {
          background: #ed6a6af4;
        }
      }
    }
  }
}
