@import "_nullstyle";

$GREEN: #2DB694;
$RED: #d60000f4;
$MB: 20px;

.profile-container {
  // height: calc(100vh - pxToEm(55px));
  height: 100vh;
  padding-top: pxToEm(70px);
  background: linear-gradient(354deg, rgba(240,180,180,1) 0%, rgba(236,204,240,1) 38%, rgba(214,226,134,1) 100%);
}

.profile {
  line-height: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: pxToEm(20px);
  font-size: 1.5em;

  &__image-container {

  }

  &__image {
    border-radius: 50%;
    width: pxToEm(150px);
    margin-bottom: pxToEm(20px);
  }

  &__true-image {
    // border: pxToEm(3px) solid $GREEN;
    // box-shadow: 0 0 pxToEm(3px) $GREEN;
  }

  &__false-image {
    // border: pxToEm(3px) solid $RED;
    // box-shadow: 0 0 pxToEm(3px) $RED;
    margin-right: pxToEm(-5px);
  }

  &__user-name {
    font-weight: 700;
    margin-bottom: pxToEm($MB);
    border-radius: pxToEm(10px);
    padding: pxToEm(5px) pxToEm(20px) pxToEm(5px);
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
  }

  &__name {
    margin-bottom: pxToEm(5px);
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__name-true {
  }

  &__name-false {
  }

  &__undefined-name {

  }

  &__status {
  }

  &__choose-group-message {
    font-size: 0.9em;
    margin-bottom: pxToEm($MB);
  }

  &__reauth {
    font-size: 0.9em;
    margin-bottom: pxToEm(10px);
  }
}

.status {
  font-size: 0.9em;
  margin-bottom: pxToEm($MB);
  color: #fff;

  &__false {
    padding: pxToEm(10px) pxToEm(20px);
    border-radius: pxToEm(10px);
    background: $RED;
  }

  &__true {
    padding: pxToEm(10px) pxToEm(20px);
    border-radius: pxToEm(10px);
    background: $GREEN;
  }
}

.vk {
  width: pxToEm(480px);
}

@media screen and (max-width: 700px) {
  .vk {
    width: pxToEm(350px);
  }
}

@media screen and (max-width: 500px) {
  .profile-container {
    padding-top: 0;
  }

  .profile {
    padding-top: pxToEm(20px);
    font-size: 1em;
  
    &__user-name {
      font-size: 1.5em;
      margin-bottom: pxToEm(15px);
    }

    &__reauth {
      font-size: 1.5em;
      margin-bottom: pxToEm(10px);
    }
  }
  
  .status {
    font-size: 1.5em;
    margin-bottom: pxToEm(15px);
  }

  .vk {
    width: pxToEm(400px);
  }
}
