@import "_nullstyle";

$GREEN: #2DB694;
$RED: #d60000f4;

.profile {
  // border: 1px solid #000;
  display: flex;
  flex-direction: column;
  gap: pxToEm(60px);
  font-size: 0.8em;
  padding-top: pxToEm(20px);
  
  &__user-info {
  }

  &__user-preferenses {
    padding: pxToEm(30px);
    border-radius: pxToEm(30px);
    background: #7c89b5;
    // background: linear-gradient(0deg, rgba(192,219,255,1) 0%, rgba(255,221,253,1) 50%, rgba(255,232,196,1) 100%);
  }

  &__user-preference {
  }
}

.user-info {
  display: flex;
  background: #7c89b5;
  // background: linear-gradient(0deg, rgb(217, 218, 255) 0%, rgb(211, 239, 233) 50%, rgba(255,255,255,1) 100%);
  border-radius: pxToEm(30px);
  padding: pxToEm(20px);

  &__avatar {
    margin-right: pxToEm(50px);
  }

  &__image-container {
    border-radius: 50%;
    padding: pxToEm(5px);
    border: pxToEm(3px) solid #ffffff;
  }

  &__image {
    width: pxToEm(300px);
    height: pxToEm(300px);
    border-radius: 50%;
  }

  &__text-info {
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: pxToEm(10px);
    padding-bottom: pxToEm(20px);
  }

  &__name {
    font-weight: 100;
    line-height: 1em;
    color: #fff;
  }

  &__auth {
    font-size: 0.8em;
    padding: pxToEm(5px) pxToEm(8px);
    border-radius: pxToEm(10px);
    background: #fff;
  }

  &__auth-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.user-preference {
  font-size: 1.8em;
  display: flex;
  align-items: center;
  padding: pxToEm(10px);
  border-radius: pxToEm(5px);
  background: #fff;
  margin-bottom: pxToEm(10px);

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    flex: 1;
    line-height: 1em;
  }

  &__value {
    flex: 1;
  }
}

@media screen and (max-width: 1200px) {
  .profile {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 700px) {
  .profile {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    width: 95%;
  }

  .user-preference {
    flex-direction: column;
    align-items: flex-start;

    &__title {
      margin-bottom: pxToEm(10px);
    }
    
    &__value {
      width: 100%;
    }
  }

  .user-info {
    flex-direction: column;
    text-align: center;
  
    &__avatar {
      margin-right: 0;
    }
  
    &__image-container {
      display: inline-block;
      margin-bottom: pxToEm(20px);
    }
  
    &__text-info {
      padding-bottom: 0;
    }
  }
}
