// path to settings.json
// C:\Users\acer\AppData\Roaming\Code\User
// dimensions of my window: 1229 x 590


@keyframes show-message {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulseClockRed {
  0% {
    background: #d60000f4;
  }
  50% {
    background: #ff8f8ff4;
  }
  100% {
    background: #d60000f4;
  }
}

@keyframes pulseClockGreen {
  0% {
    background: #2DB694;
  }
  50% {
    background: #7fccb9;
  }
  100% {
    background: #2DB694;
  }
}

.disabled-font {
  color: #828282 !important;
}
.disabled-bg {
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: #e4e4e4 !important;
}
  
.pulse-clock-red {
  animation: pulseClockRed 3.5s infinite;
}
.pulse-clock-green {
  animation: pulseClockGreen 3.5s infinite;
}

.no-schedule {
  width: 95%;
  margin: 0 auto;
  min-height: 95vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  &__text {
    text-align: center;
    font-size: 3em;
    color: #828282; 
    line-height: 1.2em;
  }
}

.schedule {
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0 pxToEm(20px) 0;

  &__info {
  }
}

.schedule-info-container {
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: pxToEm(70px);
}

.schedule-info {
  margin-bottom: pxToEm(15px);
  border: 1px solid #0000004a;
  border-radius: pxToEm(15px);
  text-align: center;
  padding: pxToEm(5px);
  display: flex;
  justify-content: center;

  &__item {
    &:first-child {
      margin-right: pxToEm(10px);
    }
  }

  &__group {
    margin-right: pxToEm(5px);
  }

  &__date {
    text-align-last: left;
    width: pxToEm(230px);
  }

  &__week-parity {

  }
}

.day {
  margin-bottom: pxToEm(20px);
  padding: pxToEm(10px, );
  border-radius: pxToEm(10px, );
  box-shadow: 0 pxToEm(2px, ) pxToEm(10px, ) rgb(79, 71, 91);

  &:last-child {
    margin-bottom: 0;
  }

    &__date {
      margin-bottom: pxToEm(8px);
      font-weight: 700;
      font-size: 1.2em;
      padding: pxToEm(5px, );
      border-radius: pxToEm(5px, );
      border-bottom: .8px solid #0000004a;

    }

    &__lessons {
    }

    &__lesson {
    }

    &__empty {
      display: flex;
      justify-content: center;
      align-items: center;
      height: pxToEm(100px);
    }

    &__empty-text {
      font-size: 3em;
      color: #828282;
    }
}
.lesson {
  display: flex;
  gap: pxToEm(10px);
  margin-bottom: pxToEm(8px);
  border-bottom: .8px solid #0000004a;
  padding-bottom: pxToEm(8px);

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;

    &::after {
      height: 0;
    }
    .lesson__info {
      padding-bottom: 0;
    }
  }

    &__info {
      flex: 1;

      border-radius: pxToEm(10px);
      padding: pxToEm(8px) pxToEm(20px, ) pxToEm(0px, ) 0;

      display: flex;
    }

    &__time {
      width: pxToEm(80px, );
      flex-shrink: 0;
      text-align: center;
    }

    &__start {
      margin-bottom: pxToEm(5px);
      font-weight: 700;
      color: #0b2376;
    }

    &__end {
      font-size: 0.9em;
    }

    &__about {
    }

    &__name {
      font-weight: 700;
      margin-bottom: pxToEm(5px);
    }

    &__teachers {
    }

    &__teacher {
      margin-bottom: pxToEm(5px);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__type-room {
      margin-left: auto;
      flex-shrink: 0;
    }

    &__attendance {
    }
}

.lesson-type-room {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1em;

  &__type {
    text-align: center;
    margin-top: pxToEm(-5px);
    margin-left: pxToEm(15px, );
    margin-bottom: pxToEm(10px, );
    background: #0b2376;
    color: #fff;
    border-radius: pxToEm(5px);
    width: pxToEm(45px, );
    height: pxToEm(25px, );
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__rooms {
    // margin-top: auto;
  }

  &__room {
    margin-bottom: pxToEm(10px, );
    margin-left: pxToEm(15px, );
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    width: pxToEm(15px, );
    user-select: none;
  }

  &__text {
    text-align: right;
    margin-left: pxToEm(2px);
  }
}

.attendance {
  width: pxToEm(70px, );

  &__container {
    width: pxToEm(70px);
    height: pxToEm(70px);
    position: relative;
  }

  &__pseudo-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    cursor: pointer;
    user-select: none;

    border-radius: pxToEm(10px);
    box-shadow: 0 0 pxToEm(7px, ) black;

    transition: width 0.05s ease, height 0.05s ease;

    &:hover {
      box-shadow: 0 0 pxToEm(4px, ) black;
    }
  
    &:active {
      width: 80%;
      height: 80%;
      .attendance-icon__image {
        width: 80%;
      }
    }
    
    &_red {
      background: #d60000f4;

      &:hover, &:active {
        background: #f35151f4;
      }
    }
    
    &_green {
      background: #2DB694;

      &:hover, &:active {
        background: #7fccb9;
      }
    }

  }

  &__message {
    cursor: pointer;
    font-size: 0.8em;
    position: absolute;
    top: pxToEm(-25px, );
    left: pxToEm(-140px, );
    padding: pxToEm(7px, );
    border-radius: pxToEm(5px, );
    background: #ff4d00;
    color: #fff;
    user-select: none;
    animation: show-message 4s forwards;
    pointer-events: auto;
    line-height: 1em;
    &:hover {
      background: #ff4d00aa;
    }
  }

  &__icon {
  }
}


.attendance-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    transition: width 0.05s ease, height 0.05s ease;
    width: pxToEm(50px);
    box-shadow: inset 0 0 pxToEm(5px, ) black;
    border-radius: 50%;
  }
}


@media screen and (max-width: 1000px) {
  .schedule {
    width: calc(100% - 80px);
  }
  .schedule-info-container {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 700px) {
  .lesson {
    &__time {
      width: pxToEm(60px, );
    }
  }
  .no-schedule {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 500px) {
  .schedule {
    width: 95%;
  }
  .schedule-info-container {
    font-size: 0.95em;
    padding-top: pxToEm(0px);
    width: 95%;
    margin-top: pxToEm(15px); 
  }
  .schedule-info {
    font-size: 0.95em; 
  }
  .attendance {
    &__body {
      &:hover {
        box-shadow: 0 0 pxToEm(7px, ) black;
      }
      &_red {
        &:hover{
          background: #d60000f4;
        }
      }
      &_green {
        &:hover {
          background: #2DB694;
        }
      }
    }
  }
}